.galery-profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.3em;
  @extend %block-section;
  h2 {
    grid-column: 1 / span 4;
    grid-row: 1;
    text-align: left;
    @include title($font-family-title);
  }
  img {
    width: 100%;
    border-radius: 5px;
    vertical-align: top;
  }
  .primary-photo {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  img:nth-of-type(2) {
    grid-column: 3 / span 2;
  }
}