.statistics-profile {
  display: flex;
  justify-content: space-around;
  @extend %block-section;
  .statistic {
    h3 {
      margin: 0;
      @include title($font-family-title);
    }
    span {
      color: get-opacity($color-primary, 0.5);
      font-weight: 600;
      @include title($font-family-title);
    }
  }
}

.statistic-acticles {
  margin: 0;
  padding: 1em 0.3em;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.7em;
  border-top: 1px solid get-opacity($color-primary, 0.3);
  list-style: none;
  color: get-opacity($color-primary, 0.5);
  span {
    margin-left: 0.5em;
  }
}