mixin statistic
  .statistic-acticles: ul
    li
      i.fas.fa-share
      span 275
    li
      i.fas.fa-eye
      span 275
    li
      i.fas.fa-comment-alt
      span 12

mixin result(resultItem)
  .result
    a(href="#",class="result__image"): img(src="../images/"+resultItem.img)
    .result__content
      span.result__category=resultItem.category
      h3=resultItem.category
      p=resultItem.description
    +statistic