//Fonts
$font-family-title: 'Oswald', sans-serif;
$font-family-content: 'Lato', sans-serif;

$font-size-base: 18px;

//Colors
$color-primary: #333;
$color-secundary: #8841da;
$color-variant: #3f579a;
$color-light: #fff;
$color-dark: #000;

$dark-mode: true;