extends componentes/plantilla
block contenido
  main.container
    include componentes/nav.pug
    section.post
      h1=titulo
      p.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ipsa voluptas fugit dolor delectus, dolorem praesentium rerum earum sapiente voluptatem ad,
        eos nisi eaque illo rem minima, nam tempore. Ipsum, totam.
      p.
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ipsa voluptas fugit dolor delectus, dolorem praesentium rerum earum sapiente voluptatem ad,
        eos nisi eaque illo rem minima, nam tempore. Ipsum, totam.
      a.boton Ver mas