@import url('./estilos.css');
@import url('./margin.css');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  align-items: center;
  display: flex;
}

/*Init Header*/
.header {
  display: flex;
  justify-content: flex-end;
  flex: 0 0;
}
/*End Header*/

/*Init Main*/
.main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1 1;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input-container input {
  flex: 1 1;
}

.search-input-container .searh-icon {
  flex: 0 0;
}
/*End Main*/

/*Init Footer*/
.footer {
  justify-self: flex-end;
}

.footer .footer-options {
  display: flex;
  justify-content: space-between;
  flex: 0 0;
}
/*End Footer*/