@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap');

:root {
  --gray-background: #1b2127;
  --gray-light: #fafafa;
  --gray-dark: #1d252c;
  --blue: #026fff;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

body, figure, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  color: white;
  font-size: 2.5em;
  letter-spacing: -0.2px;
  line-height: 1.5em;
  margin: 0 0.5em;
}

h1  strong {
  color: var(--blue);
}

h2 {
  color: var(--blue);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 1.3em 1em 1.3em;
  padding-top: 1em;
  text-transform: uppercase;
}

.header {
  background-color: var(--gray-dark);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px 1px rgba(46, 46, 46, 0.5);
  width: 100%;
  top: 0;
}

.header .logo img {
  height: 50px;
}

.header ul {
  display: flex;
  list-style: none;
  height: 100%;
}

.header a {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  text-decoration: none;
  padding: 0 0.63em;
}

.hero {
  align-items: center;
  background-color: var(--gray-background);
  display: flex;
  justify-content: space-between;
}

.hero h1, .hero figure {
  width: 50%;
}

.hero figure {
  height: 350px;
}

.hero figure img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/*Init Portfolio */
.portfolio, .experiences, .contact {
  background-color: var(--gray-light);
}

.left-border {
  left: 0;
  top: 1.3em;
  position: absolute;
  height: 2em;
  width: 1.3em;
  border-radius: 0 50px 50px 0;
  background-color:var(--blue);
}

.porfolio-items, .experience-items {
  padding: 0 1em;
}

.project {
  align-items: center;
  background-color: white;
  display: flex;
  box-shadow: 0px 0px 5px 1px rgba(98,98,98,0.3);
  margin-bottom: 1.3em;
  padding: 1.3em;
}

.project:last-child {
  margin-bottom: 0;
}

.project-image {
  width: 50%;
}

.project-details {
  width: 50%;
}

.project-image img {
  width: 100%;
}

.project-title {
  font-size: 1.88em;
  margin-top: 0;
  margin-bottom: 0.67em;
}

.project-course {
  margin: 0.95em 0;
}

.project-date,  .project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 1.1em;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

/*End portfolio*/

/*Experience */
.experience-items {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience {
  background-color: #f4fbff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(98,98,98,0.3);
  margin-bottom: 2em;
  overflow: hidden;
  width: 48%;
}

.experience-content {
  text-align: center;
  margin: -40px 40px 20px 40px;
  background-color: white;
  position: relative;
  padding: 20px;
}

.experience-title {
  margin-top:0;
}

.experience-description {
  text-align: left;
}

.experience-image img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.experience-url {
  border: 1px solid;
  border-radius: 5px;
  color: var(--blue);
  padding: 0.5em 3em;
  text-decoration: none;
}

/* Iint Contact */
.contact {
  background-color: var(--blue);
  color: white;
}

.contact-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
}

.contact h3 {
  margin-top: 0;
}

.form-email {
  margin-left: 1.5em;
}

.form-email input {
  border: 1px solid gray;
  padding: 0.5em 1em 0.5em 2.5em;
  background-image: url('../images/envelope.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0.5em center;
}

.form-email input:focus {
  outline-style: none;
}

.form-email button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid;
  color: white;
  cursor: pointer;
  display: block;
  margin-top: 1em;
  padding: 0.5em 1.5em;
}

.social-link {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  margin-right: 0.5em;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}
/* End Constact*/

/* Init footer */
.footer {
  align-items: center;
  background-color: var(--gray-dark);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
}

.footer img {
  vertical-align: middle;
  width: 80px;
}

.footer a {
  color: white;
  text-decoration: none;
}
/* End footer */

.wrapper {
  align-items: inherit;
  display: inherit;
  justify-content: inherit;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.portfolio .wrapper,
.experiences .wrapper,
.contact .wrapper {
  border-left: 1em solid var(--blue);
  box-sizing: border-box;
  position: relative;
}

.contact .wrapper {
  border-color: white;
}

.contact .left-border{
  background-color: white;
}