-var titulo = "Título principal"
-var titulos = ["Subtítulo 1", "Subtítulo 2", "Subtítulo 3"]
//-var usuario = "Byron"
-var cajas = [{"titulo": "Subtítulo 1", "content": "Lorem, ipsum dolor sit amet consectetur adipisicing elit.", "image": "imagen.png"}, {"titulo": "Subtitulo 2", "content": "Lorem, ipsum dolor sit amet consectetur adipisicing elit.", "image": "imagen.png"}, {"titulo": "Subtitulo 3", "content": "Lorem, ipsum dolor sit amet consectetur adipisicing elit.", "image": "imagen.png"}];
-var enlaces = ['Acerca', 'Noticias', 'Contacto']