section.intro
  .intro__imagen: img(src="images/imagen.png")
  .intro__contenido
    h1  #{titulo}
    p 
      | Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      | Rem vitae, error debitis eum totam fugiat? Molestiae doloribus ut,
      | non iste quasi accusantium quisquam consequatur laudantium illum quidem
      | in a eius!
      span Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    a.boton Leer