.filters-header
  align-items center
  container()
  h2
    title(font-family-title)

.filters
  font-size 0.7em
  container-shadow()
  padding 0.5em
  span
    font-weight 500
    title(font-family-title)
  a
    margin-left 0.5em
    color color-primary
    text-decoration: none
  a:nth-of-type(1)
    margin-left 1em