* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-content;
  font-size: $font-size-base;
  background-color: $color-light;
}

.profile-main {
  height: 100%;
  width: 100%;
  display: flex;
}