//Variables
@import "settings/variables.scss";
@import "settings/functions.scss";
@import "settings/globals.scss";
@import "settings/mixins.scss";
@import "settings/place-holders.scss";

@import "layout/layouts.scss";

@import "components/profiles.scss";
@import "components/statistics.scss";
@import "components/locations.scss";
@import "components/galeries.scss";
@import "components/articles.scss";