extend components/themplate.pug
block page-title
  title Profile
block page-body
  main.profile-main
    section.profile
      img(class="profile__avatar" src="../images/avatar.jpg")
      h2.profile__name John Wick
      h3.profile__title Asesino Legendario
      a(class="profile__button" href="#") Seguir
      .statistics-profile
        each statisticItem in profileStatistics
          +statistic(statisticItem)
      .profile__bio
        h2 Acerca de Mi
        h3 Asesino a sueldo retirado y amante de perros
      .location-profile
        i.fas.fa-map-marker-alt
        h2 Estados Unidos
        h3 227km Cerca
      .galery-profile
        h2 Mis Fotos
        img.primary-photo(src="../images/galeria1.jpg")
        img(src="../images/galeria2.jpg")
        img(src="../images/galeria3.jpg")
        img(src="../images/galeria4.jpg")
    aside.articles
      each articleItem in articles
        if(articleItem.type == 'Noticia' && articleItem.search == undefined)
          +article(articleItem)