footer.footer-main
  .logo.footer-main__logo: img(src="../images/logo--footer.svg")
  +menu('nav-footer')
  .nav-social: ul
    li Siguenos
    li: a(href="#"): i.fab.fa-instagram
    li: a(href="#"): i.fab.fa-pinterest
    li: a(href="#"): i.fab.fa-twitter
    li: a(href="#"): i.fab.fa-facebook-f