include ../contents/variables.pug
include news.pug
include articles.pug
include results.pug

doctype html
html
  head
    block page-title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap")
    link(rel="stylesheet", href="../css/main.css")
    script(src="https://kit.fontawesome.com/552ebddad2.js")
  body
    block page-body