@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root{
  --green-color: #7ACC2D;
  --white-color: white;
  --black-color: #313337;
  --box: 0 0 2px 1px #e6e5e9;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--green-color);
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
  padding: 1em;
  width: 100%;
}

button:hover {
  background-color: #6cc11d;
}

figure, ul {
  margin: 0;
}

input {
  border: 1px solid var(--black-color);
  border-radius: 3px;
  padding: 1em;
}

nav {
  align-items: center;
  background-color: var(--green-color);
  display: flex;
  left: 0;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 20px;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* Init main section */
.main {
  padding: 15%;
  text-align: center;
}

.main {
  font-size: 1.67em;
  font-weight: bold;
}
/* End main section */

/* Init products section */
.products {
  background-image: url("../images/curve.png");
  background-position: center top;
  background-size: cover;
  padding-bottom: 45vh;
  position: relative;
}

.products .content {
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 15%;
  right: 0;
  top: -50px;
  position: absolute;
}

.product {
  background-color: var(--white-color);
  box-shadow: var(--box);
  margin: 0 2em;
  padding: 0.9em;
}


.product .image-content {
  text-align: center;
}

/* End products section */

/* Init categories section */
.categories {
  display: flex;
  padding: 5% 20%;
}

.category {
  padding: 1em;
}

.category figure  {
  text-align: center;
}

.category figure img {
  height: 100px;
}

.category h3 {
  text-align: center;
}

.category p {
  margin: 0;
}
/* End categories section  */

/* Init mentios section */
.mentions {
  border: 1px solid #eee;
  padding: 2.5em 5em 1.5em 5em;
}

.mentions h2 {
  text-align: center;
}

.mentions-content {
  display: flex;
}

.mention {
  border-radius: 5px;
  box-shadow: var(--box);
  overflow: hidden;
}

.mention h3 {
  margin: 0;
}

.mention p {
  margin: 0.5em 0 0 0;
}

.mention .description {
  padding: 0.5em;
}

.mention figure img {
  width: 100%;
}

.mention:nth-child(odd) {
  margin-right: 1em;
}

.mention:nth-child(even) {
  margin-right: 1em;
}
/* End mentions section */

/* Init footer section */
footer {
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

footer p {
  margin: 0;
}

.contact a {
  color: var(--green-color);
  text-decoration: none;
}
/* End footer section */

/*Init sell module */
.sell-module {
  box-shadow: var(--box);
  padding: 1em;
}

.sell-module figure{
  text-align: center;
}

.sell-module form {
  display: flex;
  flex-direction: column;
}

.sell-module form input {
  margin-bottom: 1.35em;
}
/* End sell module */